*~
*.o
.deps
/config.h
/config.log
/config.status
/stamp-h1
/autom4te.cache/
/cscope.files
/cscope.out
/micro_benchmarks/mb_syscall
/micro_benchmarks/mb_network
/micro_benchmarks/libmb.a
/micro_benchmarks/Makefile
/macro_benchmarks/*.spt
/macro_benchmarks/manifest.c
/macro_benchmarks/manifest-wget.c
/Makefile
/ulvisor/Makefile
/ulvisor/ulvisor
/ulvisor/libuc/Makefile
/ulvisor/libuc/libuc.a
