/Makefile
/autoconf.h
/compat/.deps
/compat/Makefile
/config.log
/config.status
/doc/Makefile
/libtool
/po/Makefile
/po/Makefile.in
/po/POTFILES
/src/.deps/
/src/.libs/
/src/Makefile
/src/gdbm.h
/src/gdbm_dump
/src/gdbm_load
/src/gdbmtool
/src/libgdbm.la
/src/libgdbmapp.a
/src/stamp-h1
/stamp-h1
/tests/.deps/
/tests/Makefile
/tests/atconfig
/tests/atlocal
*.lo
